{
    "username": "",
    "password": "",

    "target_channel": "",
    "notify_after": 1800000,

    "target_users": [
        {
			"user": "peepoMan",
			"user_badge": "👑",
			"notice": true,
			"notice_message": "@here Peepo Man is here!"
		},
		{
			"user": "vibeolame",
			"user_badge": "🛡️",
			"notice": false
		}
	],
	"webhook_url": "https://discordapp.com/api/webhooks/###/######"
}